include ../mixins/loginForm

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.container
    a.navbar-brand(href='/about')
      img.logo(src='/images/icons/logo_ma.svg')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
      span.navbar-toggler-icon
    div#navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        for item in h.menu
          li.nav-item(class={active: currentPath.startsWith(item.slug)})
            a.nav-link(href=`${item.slug}`)
              span #{item.title}
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link(href='#', data-toggle='modal', data-target='#logInModal')
            span.text-muted Log In

    +loginForm()
